{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Voici la page d'accueil dans laquel on vas suivre la premiere page du figma ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/charl/OneDrive/Bureau/symfony/blog_sportif/blog_sportif/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Users/charl/OneDrive/Bureau/symfony/blog_sportif/blog_sportif/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
