{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 left-column-layout-left">
            {% block contentLeftColumn %}{% endblock %}
        </div>
        <div class="col-md-6 left-column-layout-right">
            {% block contentRightColumn %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}