    <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="footer-logo">
              <a href="{{ path('app_home') }}" class="brand-name"><img src="{{ asset('/assets/img/logo_blog.webp') }}" width="100"></a>
            </div>
            <div class="footer-links">
              <ul class="footer-menu">
                <li>2024 - © - Tous droits réservés</li>
                <li><a href="https://nour-hannachi.com/">Nour Hannachi</a> - <a href="https://charly-planquette.com/">Charly Planquette</a> - <a href="https://mohamedeleisawy.com/">Mohamed Eleisawy</a> - <a href="https://drys-ferhi.fr/">Drys Ferhi</a></li>
              </ul>
            </div>
          </div>

        </div>
      </footer>