@import url(./components/global.css);
@import url(./components/home.css);
@import url(./components/footer.css);
@import url(./components/header.css);
@import url(./components/create.css);
@import url(./components/article.css);
@import url(./components/login.css);