.container-article{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-article{
    width: 60rem;
    background: rgb(195, 120, 33);
    background: linear-gradient(180deg, rgba(195, 120, 33, 1) 0%, rgba(221, 101, 21, 1) 50%, rgba(171, 0, 21, 1) 100%);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}