.navbar {
    background: rgb(195,120,33);
    background: linear-gradient(90deg, rgba(195,120,33,1) 0%, rgba(221,101,21,1) 50%, rgba(171,0,21,1) 100%);
    height: 5rem;
    a {
      font-size: 22px;
      color: #fff;
      transition: 0.6s linear;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      
      display: inline-block;
      position: relative;
      &:hover {
        color: #000;
      }
  }
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
    }
    
a:hover:after { 
      width: 100%; 
      left: 0; 
    }
}
.navbar .navbar-nav .nav-link {
  color: #000;
}
.links-container{
  margin-left: 10%;
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  .link {
    padding: 1rem;
    font-size: 1.5rem;
    align-self: center;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    a:hover{
      color: #fff;
    }
}
}

@media screen and (max-width: 768px) {
  .btn-outline-light {
    border: none;
    padding: 0;
    outline: none;
  }

  .btn-outline-light:hover {
    background: none;
    color: gray;
  }
}




/* 
nav {
    height: 100px;
    width: 100%; 
    background: rgb(195,120,33);
    background: linear-gradient(90deg, rgba(195,120,33,1) 0%, rgba(221,101,21,1) 50%, rgba(171,0,21,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .brand-name {
      font-size: 3rem;
    }
    .hamburger {
      display: none;
      flex-direction: column;
      width: 50px;
      cursor: pointer;
      position: fixed;
      top: 5px;
      right: 5px;
      .line {
        height: 8px;
        width: 100%;
        background-color: white;
        border-radius: 100vw;
        margin: 4px;
      }
    }
        a {
          font-size: 22px;
          left: 50px;
          color: #000;
          transition: 0.6s linear;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.15em;
          
          display: inline-block;
          position: relative;
          &:hover {
            color: #fff;
          }
      }
   a:after {    
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        
    a:hover:after { 
          width: 100%; 
          left: 0; 
        }
    .links-container {
      
      list-style: none;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      .link {
        padding: 1rem;
        font-size: 1.5rem;
        align-self: center;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;

       
      }
    }
  }

  .connect{
    color: #fff;
          transition: 0.8s linear;
          &:hover{
            background-color: #fff;
            color: #000;
          }
  }

  @media (max-width: 750px) {
    body {
      nav {
        height: 5rem;
        justify-content: flex-end;
        .brand-name {
          display: none;
        }
        .hamburger {
          display: flex;
          margin: 0.5rem;
        }
        .links-container {
          display: none;
          &.active {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
    }
  }
   */