#task-list {
  /* background: black; */
  /* color: white; */
  width: calc(100% + 72px);
  list-style: none;
  padding: 0;
  margin-left: -70px;
}

#task-list li {
  display: inline-block;
  /* background: #555; */
  margin: 0 0 30px 70px;
}

/*
    fixe la hauteur de la zone de description afin que 
    toutes les cartes aient la meme hauteur.
  */
#task-list li .card-text {
  height: 72px;
}
